<ul class="nav nav-list">
    <li class="@(ViewBag.Menu == "Index" ? "active" : "#" )">
        <a href="@Url.Action("Index", "Home")">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Dashboard </span>
        </a>

        <b class="arrow"></b>
    </li>

    <!-- Organizaiton info menu -->
    <li class=" @(ViewBag.Menu == "Organization Info" ? "active open" : "#") ">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-book"></i>
            <span class="menu-text"> Organization Info </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="@(ViewBag.SubMenu == "Organization" ? "active" : "#")">
                <a href="@Url.Action("Create", "Organization")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Organization
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="#">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Branch
                </a>

                <b class="arrow"></b>
            </li>

        </ul>
    </li>
    <!-- End of organization info menu -->

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-building-o"></i>
            <span class="menu-text"> Asset Info </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="#">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Location
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="#">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Gernarl Category
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="#">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Category
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="#">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Manufacturer
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="#">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Model
                </a>

                <b class="arrow"></b>
            </li>

        </ul>
    </li>

</ul>
