<ul class="nav nav-list">
    <li class="@(ViewBag.Menu == "Index" ? "active" : "#" )">
        <a href="@Url.Action("Index", "Home")">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text"> Dashboard </span>
        </a>

        <b class="arrow"></b>
    </li>

    <!-- Organizaiton info menu -->
    <li class="@(ViewBag.Menu == "Organization Info" ? "active open" : "#")">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-book"></i>
            <span class="menu-text"> Organization Info </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="@(ViewBag.SubMenu == "Organization" ? "active" : "#")">
                <a href="@Url.Action("Create", "Organization")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Organization
                </a>

                <b class="arrow"></b>
            </li>

            <li class="@(ViewBag.SubMenu == "Branch" ? "active" : "#")">
                <a href="@Url.Action("Create", "Branch")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Branch
                </a>

                <b class="arrow"></b>
            </li>

        </ul>
    </li>
    <!-- End of organization info menu -->
    
    <!-- Asset Info Menu -->
    <li class="@(ViewBag.Menu == "Asset Info" ? "active open" : "#")">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-building-o"></i>
            <span class="menu-text"> Asset Info </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="@(ViewBag.SubMenu == "Location" ? "active" : "#")">
                <a href="@Url.Action("Create", "Location")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Location
                </a>

                <b class="arrow"></b>
            </li>

            <li class="@(ViewBag.SubMenu == "General Category" ? "active" : "#")">
                <a href="@Url.Action("Create", "GeneralCategory")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    General Category
                </a>

                <b class="arrow"></b>
            </li>

            <li class="@(ViewBag.SubMenu == "Category" ? "active" : "#")">
                <a href="@Url.Action("Create", "Category")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Category
                </a>

                <b class="arrow"></b>
            </li>

            <li class="@(ViewBag.SubMenu == "Manufacturer" ? "active" : "#")">
                <a href="@Url.Action("Create", "Manufacturer")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Manufacturer
                </a>

                <b class="arrow"></b>
            </li>

            <li class="@(ViewBag.SubMenu == "Model" ? "active" : "#")">
                <a href="@Url.Action("Create", "Model")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Model
                </a>

                <b class="arrow"></b>
            </li>

        </ul>
    </li>
    <!-- End of Asset Info Menu -->
</ul>
