@model AssetTrackingSystem_v2.Models.Model

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Details</h2>


<div>
    <h4>Model</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManufacturerId)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.ManufacturerId)
            @Html.LabelFor(model => model.ManufacturerId, new { id = "manufacturer" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.CategoryId)
            @Html.LabelFor(model => model.CategoryId, new { id = "category" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Search", "Model")
</p>

@section JavaScript {

        <script src="~/Scripts/AssetTracking/ManufacturerNameById.js"></script>
        <script src="~/Scripts/AssetTracking/CategoryNameById.js"></script>
}